<h1>About</h1>
<h2>This is the first course project for "The Complete Ruby on Rails Developer Course" in udemy.</h2>
<h3><a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">The Complete Ruby on Rails Developer Course</a>
<br></h3>
<h3><%= link_to "Home", root_path %></h3>