<div class="center jumbotron">
  <h1>STARFALL BLOG</h1>
  <h2>Welcome to Starfall Blog!</h2>
  <h2 style="color:green">See you soon!</h2>
  <%= link_to "Register Now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>